In [48]:
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import functions
from pyspark.sql.window import Window

In [3]:
parquet_dataset="/home/hari/Downloads/LearningSparkV2-master/parquet_files/userdata1.parquet"

    Main method definition and spark object creation

In [4]:
if __name__ == "__main__" :
    spark=(SparkSession
           .builder
           .appName("PrPg2_DF_manipulation")
           .getOrCreate()
          )

23/05/01 09:19:34 WARN Utils: Your hostname, hps17 resolves to a loopback address: 127.0.1.1; using 192.168.236.132 instead (on interface ens33)
23/05/01 09:19:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/01 09:19:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
parq_DF=spark.read.format("parquet").load(parquet_dataset)

In [6]:
parq_DF.show()
parq_DF.printSchema()

+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|  registration_dttm| id|first_name|last_name|               email|gender|     ip_address|                 cc|             country| birthdate|   salary|               title|            comments|
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|2016-02-03 13:25:29|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|    1.197.201.2|   6759521864920116|           Indonesia|  3/8/1971| 49756.53|    Internal Auditor|               1E+02|
|2016-02-03 22:34:03|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male| 218.111.175.34|                   |              Canada| 1/16/1968|150280.17|       Accountant IV|                    |
|2016-02-03 06:39:31|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|   7.161.136.94|   6767119071901597|              Russia|  2/1/1960|144972.51| Structural Engineer|                    |
|2016-02-03 06:06:21|  4|    Denise|    Riley|    driley3@gmpg.org|Female|  140.35.109.83|   3576031598965625|               China|  4/8/1997| 90263.05|Senior Cost Accou...|                    |
|2016-02-03 10:35:31|  5|    Carlos|    Burns|cburns4@miitbeian...|      | 169.113.235.40|   5602256255204850|        South Africa|          |     null|                    |                    |
|2016-02-03 12:52:34|  6|   Kathryn|    White|  kwhite5@google.com|Female| 195.131.81.179|   3583136326049310|           Indonesia| 2/25/1983| 69227.11|   Account Executive|                    |
|2016-02-03 14:03:08|  7|    Samuel|   Holmes|sholmes6@foxnews.com|  Male| 232.234.81.197|   3582641366974690|            Portugal|12/18/1987| 14247.62|Senior Financial ...|                    |
|2016-02-03 12:17:06|  8|     Harry|   Howell| hhowell7@eepurl.com|  Male|   91.235.51.73|                   |Bosnia and Herzeg...|  3/1/1962|186469.43|    Web Developer IV|                    |
|2016-02-03 09:22:53|  9|      Jose|   Foster|   jfoster8@yelp.com|  Male|   132.31.53.61|                   |         South Korea| 3/27/1992|231067.84|Software Test Eng...|               1E+02|
|2016-02-03 23:59:47| 10|     Emily|  Stewart|estewart9@opensou...|Female| 143.28.251.245|   3574254110301671|             Nigeria| 1/28/1997| 27234.28|     Health Coach IV|                    |
|2016-02-03 05:40:42| 11|     Susan|  Perkins| sperkinsa@patch.com|Female|    180.85.0.62|   3573823609854134|              Russia|          |210001.95|                    |                    |
|2016-02-03 23:34:34| 12|     Alice|    Berry|aberryb@wikipedia...|Female| 246.225.12.189|   4917830851454417|               China| 8/12/1968| 22944.53|    Quality Engineer|                    |
|2016-02-04 00:18:17| 13|    Justin|    Berry|jberryc@usatoday.com|  Male|   157.7.146.43|6331109912871813274|              Zambia| 8/15/1975| 44165.46|Structural Analys...|                    |
|2016-02-04 03:16:52| 14|     Kathy| Reynolds|kreynoldsd@redcro...|Female|  81.254.172.13|   5537178462965976|Bosnia and Herzeg...| 6/27/1970|286592.99|           Librarian|                    |
|2016-02-03 14:23:23| 15|   Dorothy|   Hudson|dhudsone@blogger.com|Female|       8.59.7.0|   3542586858224170|               Japan|12/20/1989|157099.71|  Nurse Practicioner|<script>alert('hi...|
|2016-02-03 06:14:01| 16|     Bruce|   Willis|bwillisf@bluehost...|  Male|239.182.219.189|   3573030625927601|              Brazil|          |239100.65|                    |                    |
|2016-02-03 06:27:45| 17|     Emily|  Andrews|eandrewsg@cornell...|Female| 29.231.180.172|     30271790537626|              Russia| 4/13/1990|116800.65|        Food Chemist|                    |
|2016-02-03 22:14:24| 18|   Stephen|  Wallace|swallaceh@netvibe...|  Male|  152.49.213.62|   5433943468526428|             Ukraine| 1/15/1978|248877.99|Account Represent...|                    |
|2016-02-03 17:15:54| 19|  Clarence|   Lawson|clawsoni@vkontakt...|  Male| 107.175.15.152|   3544052814080964|              Russia|          |177122.99|                    |                    |
|2016-02-03 16:00:36| 20|   Rebecca|     Bell| rbellj@bandcamp.com|Female|172.215.104.127|                   |               China|          |137251.19|                    |                    |
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
only showing top 20 rows

root
 |-- registration_dttm: timestamp (nullable = true)
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- cc: string (nullable = true)
 |-- country: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- title: string (nullable = true)
 |-- comments: string (nullable = true)

Scenario:
1. use select function to fetch selectiv column from DF
2. Where clause to limit the records/data
3. filter vs where function usage
4.

In [18]:
(parq_DF.select("country","title","gender")
 .where(trim(col("title")) == '')).show()

+--------------------+-----+------+
|             country|title|gender|
+--------------------+-----+------+
|        South Africa|     |      |
|              Russia|     |Female|
|              Brazil|     |  Male|
|              Russia|     |  Male|
|               China|     |Female|
|            Tanzania|     |  Male|
|              Russia|     |Female|
|       United States|     |Female|
|            Thailand|     |  Male|
|       United States|     |Female|
|              France|     |Female|
|               China|     |Female|
|Central African R...|     |  Male|
|            Ethiopia|     |Female|
|               China|     |  Male|
|              Brazil|     |Female|
|           Indonesia|     |  Male|
|               China|     |Female|
|              France|     |  Male|
|           Indonesia|     |Female|
+--------------------+-----+------+
only showing top 20 rows

# DF manipulation

> when & otherwise (equivalent to If - else conditional block)
> trim
> withColumn functions
> drop ->> to dorp column in DF
> withColumnRenamed
> filter & where - both produce the samee output
> groupBy(), count() and orderBy()window function
> WINDOW functions:
    > rank()
    > dense_rank()
    > row_numberr()
    > percent_rank()
    > ntile()

In [59]:
DF1.printSchema()
win=Window.partitionBy("title_clnd").orderBy("country")

DF1.withColumn("ID",row_number().over(win)).show()
DF1.withColumn("Rank_ID",rank().over(win)).show()
DF1.withColumn("percent_Rank",percent_rank().over(win)).show()
DF1.withColumn("ntile",ntile(3).over(win)).show()

root
 |-- title_clnd: string (nullable = true)
 |-- country: string (nullable = true)
 |-- Gender_Orientation: string (nullable = true)

+--------------------+----------------+------------------+---+
|          title_clnd|         country|Gender_Orientation| ID|
+--------------------+----------------+------------------+---+
|            61871.37|        "Bonaire|              Male|  1|
| Account Coordinator|         Finland|            Female|  1|
| Account Coordinator|           Japan|              Male|  2|
| Account Coordinator|         Nigeria|              Male|  3|
| Account Coordinator|     Philippines|            Female|  4|
|   Account Executive|   Aland Islands|              Male|  1|
|   Account Executive|          Canada|              Male|  2|
|   Account Executive|           China|            Female|  3|
|   Account Executive|           China|            Female|  4|
|   Account Executive|          Guinea|            Female|  5|
|   Account Executive|       Indonesia|            Female|  6|
|   Account Executive|       Indonesia|              Male|  7|
|   Account Executive|Papua New Guinea|              Male|  8|
|   Account Executive|          Russia|            Female|  9|
|Account Represent...|         Ukraine|              Male|  1|
|Account Represent...|       Venezuela|              Male|  2|
|Account Represent...|          Canada|              Male|  1|
|Account Represent...|         Croatia|              Male|  2|
|        Accountant I|          Brazil|              Male|  1|
|        Accountant I|  Czech Republic|              Male|  2|
+--------------------+----------------+------------------+---+
only showing top 20 rows

+--------------------+----------------+------------------+-------+
|          title_clnd|         country|Gender_Orientation|Rank_ID|
+--------------------+----------------+------------------+-------+
|            61871.37|        "Bonaire|              Male|      1|
| Account Coordinator|         Finland|            Female|      1|
| Account Coordinator|           Japan|              Male|      2|
| Account Coordinator|         Nigeria|              Male|      3|
| Account Coordinator|     Philippines|            Female|      4|
|   Account Executive|   Aland Islands|              Male|      1|
|   Account Executive|          Canada|              Male|      2|
|   Account Executive|           China|            Female|      3|
|   Account Executive|           China|            Female|      3|
|   Account Executive|          Guinea|            Female|      5|
|   Account Executive|       Indonesia|            Female|      6|
|   Account Executive|       Indonesia|              Male|      6|
|   Account Executive|Papua New Guinea|              Male|      8|
|   Account Executive|          Russia|            Female|      9|
|Account Represent...|         Ukraine|              Male|      1|
|Account Represent...|       Venezuela|              Male|      2|
|Account Represent...|          Canada|              Male|      1|
|Account Represent...|         Croatia|              Male|      2|
|        Accountant I|          Brazil|              Male|      1|
|        Accountant I|  Czech Republic|              Male|      2|
+--------------------+----------------+------------------+-------+
only showing top 20 rows

+--------------------+----------------+------------------+------------------+
|          title_clnd|         country|Gender_Orientation|      percent_Rank|
+--------------------+----------------+------------------+------------------+
|            61871.37|        "Bonaire|              Male|               0.0|
| Account Coordinator|         Finland|            Female|               0.0|
| Account Coordinator|           Japan|              Male|0.3333333333333333|
| Account Coordinator|         Nigeria|              Male|0.6666666666666666|
| Account Coordinator|     Philippines|            Female|               1.0|
|   Account Executive|   Aland Islands|              Male|               0.0|
|   Account Executive|          Canada|              Male|             0.125|
|   Account Executive|           China|            Female|              0.25|
|   Account Executive|           China|            Female|              0.25|
|   Account Executive|          Guinea|            Female|               0.5|
|   Account Executive|       Indonesia|            Female|             0.625|
|   Account Executive|       Indonesia|              Male|             0.625|
|   Account Executive|Papua New Guinea|              Male|             0.875|
|   Account Executive|          Russia|            Female|               1.0|
|Account Represent...|         Ukraine|              Male|               0.0|
|Account Represent...|       Venezuela|              Male|               1.0|
|Account Represent...|          Canada|              Male|               0.0|
|Account Represent...|         Croatia|              Male|               1.0|
|        Accountant I|          Brazil|              Male|               0.0|
|        Accountant I|  Czech Republic|              Male|               0.5|
+--------------------+----------------+------------------+------------------+
only showing top 20 rows

+--------------------+----------------+------------------+-----+
|          title_clnd|         country|Gender_Orientation|ntile|
+--------------------+----------------+------------------+-----+
|            61871.37|        "Bonaire|              Male|    1|
| Account Coordinator|         Finland|            Female|    1|
| Account Coordinator|           Japan|              Male|    1|
| Account Coordinator|         Nigeria|              Male|    2|
| Account Coordinator|     Philippines|            Female|    3|
|   Account Executive|   Aland Islands|              Male|    1|
|   Account Executive|          Canada|              Male|    1|
|   Account Executive|           China|            Female|    1|
|   Account Executive|           China|            Female|    2|
|   Account Executive|          Guinea|            Female|    2|
|   Account Executive|       Indonesia|            Female|    2|
|   Account Executive|       Indonesia|              Male|    3|
|   Account Executive|Papua New Guinea|              Male|    3|
|   Account Executive|          Russia|            Female|    3|
|Account Represent...|         Ukraine|              Male|    1|
|Account Represent...|       Venezuela|              Male|    2|
|Account Represent...|          Canada|              Male|    1|
|Account Represent...|         Croatia|              Male|    2|
|        Accountant I|          Brazil|              Male|    1|
|        Accountant I|  Czech Republic|              Male|    2|
+--------------------+----------------+------------------+-----+
only showing top 20 rows

In [45]:
DF1=(parq_DF.withColumn("title_clnd", when(trim(col("title")) == '','TBD')
       .otherwise(parq_DF.title))
       .withColumnRenamed("gender","Gender_Orientation")
       .filter((col("Gender_Orientation") == 'Male') | (col("Gender_Orientation") == 'Female'))
       .drop("title")
       .select("title_clnd","country","Gender_Orientation")
)
DF1.printSchema()
DF2=(DF1.groupBy("title_clnd","country","Gender_Orientation").count()
 .orderBy("country",asc="true")   
)
DF2.show()

root
 |-- title_clnd: string (nullable = true)
 |-- country: string (nullable = true)
 |-- Gender_Orientation: string (nullable = true)

+--------------------+-------------+------------------+-----+
|          title_clnd|      country|Gender_Orientation|count|
+--------------------+-------------+------------------+-----+
|            61871.37|     "Bonaire|              Male|    1|
|                 TBD|  Afghanistan|              Male|    1|
|                 TBD|  Afghanistan|            Female|    1|
|   Account Executive|Aland Islands|              Male|    1|
|                 TBD|      Albania|            Female|    1|
|           Professor|      Albania|            Female|    1|
|  Research Associate|      Albania|            Female|    1|
|                 TBD|       Angola|            Female|    1|
|                 TBD|    Argentina|              Male|    1|
|   Marketing Manager|    Argentina|              Male|    1|
|   Chemical Engineer|    Argentina|            Female|    1|
|    Graphic Designer|    Argentina|            Female|    1|
|Compensation Analyst|    Argentina|            Female|    1|
|   Financial Advisor|    Argentina|              Male|    1|
|Budget/Accounting...|    Argentina|            Female|    1|
|       Social Worker|    Argentina|              Male|    1|
|    Product Engineer|    Argentina|            Female|    1|
|                 TBD|    Argentina|            Female|    2|
|     Cost Accountant|    Argentina|            Female|    1|
|            Operator|    Argentina|            Female|    1|
+--------------------+-------------+------------------+-----+
only showing top 20 rows