Schema definition
Schema DDL string

In [5]:
import sys
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.types import StructField

In [2]:
parquet_dataset="/home/hari/Downloads/LearningSparkV2-master/parquet_files/userdata1.parquet"

In [3]:
if __name__ == "__main__" :
    spark=(SparkSession.builder
          .appName("Prg3_DF_schema")
          .getOrCreate())

23/05/06 15:11:21 WARN Utils: Your hostname, hps17 resolves to a loopback address: 127.0.1.1; using 192.168.236.132 instead (on interface ens33)
23/05/06 15:11:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/06 15:11:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df=spark.read.parquet(parquet_dataset)
df.printSchema()
df.schema()

root
 |-- registration_dttm: timestamp (nullable = true)
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- cc: string (nullable = true)
 |-- country: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- title: string (nullable = true)
 |-- comments: string (nullable = true)

TypeError: 'StructType' object is not callable

# Schema definition DDL string

In [22]:
###Schema DDL string

schema_ddl="`registration_dttm` timestamp, `id` integer, `first_name` string, `last_name` string, `email` string, `gender` string, `ip_address` string, `cc` string, `country` string, `birthdate` string, `salary` double, `title` string, `comments` string"
df1=(spark.read.format("parquet").schema(schema_ddl).load(parquet_dataset))

df1.show()

+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|  registration_dttm| id|first_name|last_name|               email|gender|     ip_address|                 cc|             country| birthdate|   salary|               title|            comments|
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|2016-02-03 13:25:29|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|    1.197.201.2|   6759521864920116|           Indonesia|  3/8/1971| 49756.53|    Internal Auditor|               1E+02|
|2016-02-03 22:34:03|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male| 218.111.175.34|                   |              Canada| 1/16/1968|150280.17|       Accountant IV|                    |
|2016-02-03 06:39:31|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|   7.161.136.94|   6767119071901597|              Russia|  2/1/1960|144972.51| Structural Engineer|                    |
|2016-02-03 06:06:21|  4|    Denise|    Riley|    driley3@gmpg.org|Female|  140.35.109.83|   3576031598965625|               China|  4/8/1997| 90263.05|Senior Cost Accou...|                    |
|2016-02-03 10:35:31|  5|    Carlos|    Burns|cburns4@miitbeian...|      | 169.113.235.40|   5602256255204850|        South Africa|          |     null|                    |                    |
|2016-02-03 12:52:34|  6|   Kathryn|    White|  kwhite5@google.com|Female| 195.131.81.179|   3583136326049310|           Indonesia| 2/25/1983| 69227.11|   Account Executive|                    |
|2016-02-03 14:03:08|  7|    Samuel|   Holmes|sholmes6@foxnews.com|  Male| 232.234.81.197|   3582641366974690|            Portugal|12/18/1987| 14247.62|Senior Financial ...|                    |
|2016-02-03 12:17:06|  8|     Harry|   Howell| hhowell7@eepurl.com|  Male|   91.235.51.73|                   |Bosnia and Herzeg...|  3/1/1962|186469.43|    Web Developer IV|                    |
|2016-02-03 09:22:53|  9|      Jose|   Foster|   jfoster8@yelp.com|  Male|   132.31.53.61|                   |         South Korea| 3/27/1992|231067.84|Software Test Eng...|               1E+02|
|2016-02-03 23:59:47| 10|     Emily|  Stewart|estewart9@opensou...|Female| 143.28.251.245|   3574254110301671|             Nigeria| 1/28/1997| 27234.28|     Health Coach IV|                    |
|2016-02-03 05:40:42| 11|     Susan|  Perkins| sperkinsa@patch.com|Female|    180.85.0.62|   3573823609854134|              Russia|          |210001.95|                    |                    |
|2016-02-03 23:34:34| 12|     Alice|    Berry|aberryb@wikipedia...|Female| 246.225.12.189|   4917830851454417|               China| 8/12/1968| 22944.53|    Quality Engineer|                    |
|2016-02-04 00:18:17| 13|    Justin|    Berry|jberryc@usatoday.com|  Male|   157.7.146.43|6331109912871813274|              Zambia| 8/15/1975| 44165.46|Structural Analys...|                    |
|2016-02-04 03:16:52| 14|     Kathy| Reynolds|kreynoldsd@redcro...|Female|  81.254.172.13|   5537178462965976|Bosnia and Herzeg...| 6/27/1970|286592.99|           Librarian|                    |
|2016-02-03 14:23:23| 15|   Dorothy|   Hudson|dhudsone@blogger.com|Female|       8.59.7.0|   3542586858224170|               Japan|12/20/1989|157099.71|  Nurse Practicioner|<script>alert('hi...|
|2016-02-03 06:14:01| 16|     Bruce|   Willis|bwillisf@bluehost...|  Male|239.182.219.189|   3573030625927601|              Brazil|          |239100.65|                    |                    |
|2016-02-03 06:27:45| 17|     Emily|  Andrews|eandrewsg@cornell...|Female| 29.231.180.172|     30271790537626|              Russia| 4/13/1990|116800.65|        Food Chemist|                    |
|2016-02-03 22:14:24| 18|   Stephen|  Wallace|swallaceh@netvibe...|  Male|  152.49.213.62|   5433943468526428|             Ukraine| 1/15/1978|248877.99|Account Represent...|                    |
|2016-02-03 17:15:54| 19|  Clarence|   Lawson|clawsoni@vkontakt...|  Male| 107.175.15.152|   3544052814080964|              Russia|          |177122.99|                    |                    |
|2016-02-03 16:00:36| 20|   Rebecca|     Bell| rbellj@bandcamp.com|Female|172.215.104.127|                   |               China|          |137251.19|                    |                    |
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
only showing top 20 rows

# Schema definition using Struct type 
syntax:

StructType([StructField("col_nm", dataype , T/F),StructField("col_nm",datatype, T/F)])

In [11]:
# array list
data=[[1,"Aadhav","Ritesh",'07/04/2021',[90,91,92,99]],
      [2,"Avvantika","Hariprasath",'11/02/2023',[100,91,92,90]],
      [3,"Bala","Prasad",'11/11/20221',[89,80,88,90]],
      [4,"Biju","Prasad",'08/11/20221',[80,80,80,90]]]

#schema
sch_ddl="`id` int,`Name` string, `Father Name` string,`DOB` string, `Marks` Array<STRING>"


            
#Data Frame creation from list
stud_df=spark.createDataFrame(data,sch_ddl)

stud_df.show()
stud_df.printSchema()

+---+---------+-----------+-----------+-----------------+
| id|     Name|Father Name|        DOB|            Marks|
+---+---------+-----------+-----------+-----------------+
|  1|   Aadhav|     Ritesh| 07/04/2021| [90, 91, 92, 99]|
|  2|Avvantika|Hariprasath| 11/02/2023|[100, 91, 92, 90]|
|  3|     Bala|     Prasad|11/11/20221| [89, 80, 88, 90]|
|  4|     Biju|     Prasad|08/11/20221| [80, 80, 80, 90]|
+---+---------+-----------+-----------+-----------------+

root
 |-- id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Father Name: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Marks: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [ ]:
sch_struct=StructType(
    StructField("id", IntegerType(), False),
    StructField("Name", StringType(), False),
    StructField("Father Name", StringType(), False),
    StructField("DOB", StringType(), False),
    StructField("Marks", 
                StructType([StructField("Lang1", IntegerType(), False),
                            StructField("Lang2", IntegerType(), False),
                            StructField("Lang3", IntegerType(), False),
                            StructField("Lang4", IntegerType(), False)
                           ])
                   ))